.container {
  max-width: 950px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.toggle-buttons button {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 100px;
  background-color: #e9ecef;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-buttons button.active {
  background-color: #baa434;
  color: white;
}

.section {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.form-group {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group label {
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #baa434;
  color: white;
}

.btn-success {
  background-color: #baa434;
  color: white;
}

.error-message {
  color: #dc3545;
  margin-top: 1rem;
}

.booking-details {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 4px;
  display: flex;
  gap: 30px;
  font-size: 17px;
}
