<!-- <app-navbar></app-navbar> -->
<!-- <app-inventory-admin></app-inventory-admin> -->
<!-- <app-task-list></app-task-list> -->
<!-- <app-task-admin></app-task-admin> -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-bookrooms></app-bookrooms> -->
<!-- <app-booking-form></app-booking-form> -->
<router-outlet>
  <app-empnavbar></app-empnavbar>
</router-outlet>
<!-- <app-admin-employee></app-admin-employee> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-dashboard></app-dashboard> -->
