<div class="offer">
  <img
    [src]="hotel.imageUrl"
    alt="{{ hotel.hname }}"
    alt="fine dining image 1"
    class="offer-image"
  />
  <div class="offer-desc offer-desc-div">
    <h1>{{ hotel.hname }}, {{ hotel.hloc }}</h1>
    <p>
      Discover a tropical haven in {{ hotel.hloc }}, where this beachfront
      resort blends Goan-Portuguese architecture with lush gardens, serene spas,
      and panoramic sea views for a memorable escape.
    </p>
    <div class="row2">
      <button [routerLink]="['/bookings', hotel.hid]">BOOK NOW</button>
      <p class="row-link">..more</p>
    </div>
  </div>
</div>
