<div class="booksmatter">
  <div class="headbooks">
    <h1 class="headingsb">----- PLAN YOUR STAY -----</h1>
    <p>
      From a luxury urban sanctum to the halls of royalty, an idyllic resort to
      a jungle clearing, our 5-star hotels and luxury resorts bring your
      imagination to life.
    </p>
    <div class="booklist">
      <div class="circle circle-active">1</div>
      <p>Select Room Type</p>
      <div class="circle">2</div>
      <p>Select Room</p>
      <div class="circle">3</div>
      <p>Personal Details</p>
      <div class="circle">4</div>
      <p>Payment Confirmation</p>
    </div>
  </div>
  <div class="rooms-container" *ngFor="let room of rooms">
    <div class="inner-cont">
      <div class="left">
        <img [src]="room.image" alt="Room Image" class="indi-room" />

        <div class="details">
          <div class="i">
            <i class="fa-solid fa-expand"></i>
            <p>{{ room.size }}</p>
          </div>
          <div class="i">
            <i class="fa-solid fa-person"></i>
            <p>{{ room.guests }}</p>
          </div>
          <div class="i">
            <i class="fa-solid fa-bed"></i>
            <p>{{ room.beds }}</p>
          </div>
        </div>
      </div>

      <div class="right">
        <h1 class="room-type">{{ room.type }}</h1>

        <div class="pricing-details" *ngFor="let offer of room.offers">
          <div class="content">
            <h1>{{ offer.title }}</h1>
            <p>{{ offer.description }}</p>
            <ul>
              <li *ngFor="let detail of offer.details">{{ detail }}</li>
            </ul>
          </div>
          <div class="rates">
            <h1 class="member-rate">Member Rates</h1>
            <p class="m-r-p">${{ offer.memberRate }}</p>
            <button
              class="member-button"
              [routerLink]="['/room-selection', hotelId]"
            >
              Book Now
            </button>
            <h1 class="member-rate">Standard Rates</h1>
            <p class="m-r-p">${{ offer.standardRate }}</p>
            <button
              class="member-button btn-invert"
              [routerLink]="['/room-selection', hotelId]"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">Get some more information</div>
  </div>
</div>
