<nav class="navbar">
  <button class="hamburger-btn" (click)="toggleMenu()">☰</button>
  <div class="links" [class.show-menu]="showMenu">
    <button class="close-btn" (click)="closeMenu()">✖</button>
    <button class="login-btn" (click)="togglePopup()">Login</button>
    <button class="elogin-btn" (click)="togglePopup()">Employee Login</button>
  </div>
</nav>

<!-- Login Popup -->
<div class="form-popup" *ngIf="showPopup">
  <button class="close-btn" (click)="togglePopup()">✖</button>
  <div class="bottom-link">
    <a id="signup-link" (click)="switchForm('signup')">Sign Up</a>
    <a id="login-link" (click)="switchForm('login')">Login</a>
  </div>
  <div [class.show-signup]="showSignup">
    <p *ngIf="showSignup">Signup Form</p>
    <p *ngIf="!showSignup">Login Form</p>
  </div>
</div>
