<div class="hotelmain">
  <div class="hotelsdiv">
    <p class="imgheading">--- Glampinnvalley Hotels</p>
    <!-- <div class="search-container">
            <input
              type="text"
              placeholder="Search hotels..."
              class="search-input"
            />
            <button class="search-btn">
              <i class="fas fa-search">Search</i>
            </button>
          </div> -->
  </div>

  <div class="hotelsmatter">
    <h1 class="headings1">----- Explore Glampinnvalley -----</h1>
    <p>
      From a luxury urban sanctum to the halls of royalty, an idyllic resort to
      a jungle clearing, our 5-star hotels and luxury resorts bring your
      imagination to life.
    </p>

    <!-- Hotel Category Navigation -->
    <div class="sample"></div>
    <!-- Hotel List -->
    <div class="hotel-container">
      <app-hotel-item
        *ngFor="let hotel of filteredHotels"
        [hotel]="hotel"
      ></app-hotel-item>
    </div>
  </div>
</div>
